Repository TechnikKTK/fastapi_template: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: migrations/
        args: ["--line-length=79"]

  - repo: local
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: system
        types: [python]
        exclude: migrations/
        args: ["--profile=black", "--line-length=79", "--lai=2"]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: migrations/
        args: ["--disable=C0114,C0115,C0116,W0511,R0903,C0103"]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: "(migrations|.venv|env|venv)/"
        args: ["--exclude=migrations"]

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false
        args: ["-p no:cacheprovider"]

config modify
  app/apps/__init__.py
  app/apps/api/__init__.py
  app/apps/api/v1/__init__.py
  app/apps/api/v1/core/routes.py
  app/settings/server.py
Due: black, isort, pylint, mypy, pytest

restored-config-files
  app/example.config.toml
  app/example.envs/example.env
  app/example.envs/example.psql.env
  app/example.envs/example.redis.env
Due: none

added-db-support
  app/__init__.py
  app/config.py
  app/db/__init__.py
  app/db/postgres/__init__.py
  app/db/postgres/db_async.py
  app/db/postgres/db_sync.py
  app/migrations/env.py
  app/settings/db.py
  app/utils/__init__.py
  app/utils/patterns/__init__.py
  app/utils/patterns/singleton.py
  cli/db.py
  manage.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, mypy, pytest

linters fixes
  .pre-commit-config.yaml
  app/__init__.py
  app/config.py
  app/db/postgres/db_async.py
  app/db/postgres/db_sync.py
  app/settings/db.py
  app/utils/patterns/singleton.py
  cli/db.py
Due: black, isort, pylint, mypy, pytest

db test connection
  README.md
Due: none

pytest-readme
  README.md
Due: none

config update
  app/apps/api/v1/core/views.py
  app/config.py
  app/example.config.toml
  app/settings/server.py
Due: black, isort, pylint, mypy, pytest

typing update
  app/db/postgres/db_async.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, mypy, pytest

divided urls config/allowed hosts middleware
  app/__init__.py
  app/apps/api/v1/core/routes.py
  app/config.py
  app/settings/server.py
Due: black, isort, pylint, mypy, pytest

config update
  app/config.py
  pyproject.toml
Due: black, isort, pylint, mypy, pytest

import fix
  app/migrations/env.py
Due: pytest

Base model mixin
  app/apps/models.py
Due: black, isort, pylint, mypy, pytest

Model mixin inheritance
  app/apps/api/v1/core/models.py
Due: black, isort, pylint, mypy, pytest

Alembic instruction update
  README.md
Due: none

pre-commit instruction update
  README.md
Due: none

Update README.md
  README.md
Due: none

update project name
  pyproject.toml
Due: none

fix
  app/apps/api/v1/ds/schemas.py
  app/apps/api/v1/ds/views.py
  app/services/ds_registrator/browser.py
  app/services/ds_registrator/core.py
  app/services/ds_registrator/run.py
  app/services/interview_registrator/run.py
  app/utils/celery/selenium/tasks.py
Due: black, isort, pylint, mypy, pytest

fix code interviw and browser
  app/services/ds_registrator/browser.py
  app/services/ds_registrator/run.py
  app/services/interview_registrator/core.py
  app/services/interview_registrator/run.py
Due: black, isort, pylint, mypy, pytest

asdff
  app/services/interview_registrator/run.py
Due: black, isort, pylint, mypy, pytest

новое
  app/apps/api/v1/interview/schemas.py
  app/services/ds_registrator/browser.py
  app/services/ds_registrator/core.py
  app/services/ds_registrator/run.py
  app/services/interview_registrator/core.py
  app/services/interview_registrator/run.py
  app/utils/celery/selenium/tasks.py
Due: black, isort, pylint, mypy, pytest

random record
  app/services/ds_registrator/browser.py
  app/services/interview_registrator/core.py
Due: black, isort, pylint, mypy, pytest
